<header [ngClass]="{'scrolled': isScrolled}">
  <mat-toolbar>
    <div class="container">
      <div class="logo">
        <a (click)="scrollTo('home')">Vivek Mohta</a>
      </div>
      
      <!-- Desktop Nav -->
      <nav class="desktop-nav" *ngIf="!isMobileView">
        <ul>
          <li *ngFor="let section of sections">
            <a (click)="scrollTo(section.id)">{{ section.name }}</a>
          </li>
        </ul>
      </nav>
      
      <!-- Mobile Nav Toggle -->
      <button *ngIf="isMobileView" 
              mat-icon-button 
              (click)="toggleMenu()" 
              aria-label="Toggle navigation menu">
        <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <!-- Mobile Nav Menu -->
  <div class="mobile-nav" *ngIf="isMobileView && isMenuOpen">
    <mat-nav-list>
      <a mat-list-item *ngFor="let section of sections" (click)="scrollTo(section.id)">
        {{ section.name }}
      </a>
    </mat-nav-list>
  </div>
</header>
