<section id="experience" class="experience-section section">
  <div class="container">
    <h2 class="section-title">Work Experience</h2>
    
    <div class="timeline">
      <div *ngFor="let exp of experiences; let i = index" class="timeline-item" [ngClass]="{'even': i % 2 == 0, 'odd': i % 2 != 0}">
        <div class="timeline-badge">
          <mat-icon>work</mat-icon>
        </div>
        
        <div class="timeline-panel">
          <div class="timeline-header">
            <h3>{{ exp.title }}</h3>
            <div class="company">{{ exp.company }}</div>
            <div class="period">{{ exp.period }}</div>
          </div>
          
          <mat-divider></mat-divider>
          
          <div class="timeline-body">
            <ul>
              <li *ngFor="let responsibility of exp.responsibilities">
                {{ responsibility }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
